*.zip
*.bz2
*.tgz
*.gz
zhwiki.txt
zhwiki_cht.txt
work/GPT2-Chinese
work/venv
work/bertviz_repo
__pycache__
work/home
work/Gensim/news_crawl_result.txt
.ipynb_checkpoints
*.pyc
fonts/
*.ttf

#large files
work/pytorch_model.bin
work/jieba_segment.txt
.vscode/settings.json
work/segDone.txt
work/word2vec.model
work/jieba_data/dict.txt.big
work/wiki/data/dict.txt.big
work/wiki/data/*.txt
work/Text_wordcloud/jieba_data/dict.txt.big
word2vec.model

tfenv/*
_tfenv/*

work/themoviedb/*.conf
omw/
omw-1.4/

training_checkpoints_2/

work/BERT_study/*
work/BERT_study

__tfenv
_tfenv
tfenv
.vscode
.ipynb_checkpoints

aclImdb
logs

.env