*.zip
*.bz2
zhwiki.txt
zhwiki_cht.txt
work/GPT2-Chinese
work/venv
work/bertviz_repo
work/__pycache__
work/home
work/.ipynb_checkpoints
work/Gensim/news_crawl_result.txt
*.ipynb_checkpoints

#large files
work/pytorch_model.bin
work/jieba_segment.txt
work/Text_wordcloud/.ipynb_checkpoints/
work/common/__pycache__/
.vscode/settings.json
work/segDone.txt
work/word2vec.model
work/jieba_data/dict.txt.big
